
@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

.leaflet-container {
    width: 100%;
    height: 575px;
  }

  .grayscale-map {
    filter: grayscale(100%);
  }

  .custom-toast-class {
    @apply bg-green-500 text-white p-4 rounded-md;
  }
  